body {
  background: #EB6C28;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

.caixa1 {
  position: absolute;
  background: orange;
  width: 200px;
  height: 200px;
  right: 400px;
  bottom: 200;
}

.caixa2 {
  position: absolute;
  background: orange;
  width: 200px;
  height: 200px;
  right: 705px;
  bottom: 200;
}

.menuprincipal {
  position: absolute;
  width: 100%;
  height: 45px;
  background: #B8551F;
  top: 0;
  left: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 134, 91);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  color: rgb(255, 60, 0);
  background-color: darkred;
}

#image{
  width: 25%;
  
}

.boxImage {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 200px;
  background: darkred;
  top: 50px;
  left: 0px;
  margin: 20px;
  border-color: #B8551F;
  border-width: 20px;
  border-style: solid;
  padding: 20px;
}

.conteudo {
  position: absolute;
  top: 45px;
  width: 100%;
}

#rodape {
  width: 100%;
  height: 35px;
  background-color: darkred;
  color: #EB6C28;
}
